.accounting-report {
	&__card {
		@apply bg-white rounded-lg shadow-templateDesign p-2 cursor-pointer no-underline;
		width: 10.9375rem;
		height: 10.0625rem;
	}

	&__title {
		h1 {
			font-size: 1rem !important;
		}
	}
}
