$green: #00A99D;
$darkBlue: #0B2C4C;
$grayText: #4B4B4B;

.selected-time {
    @apply bg-blue text-white border-transparent;
}

.schedule-demo {
    @apply font-poppins;

    .scheduling {
        @apply p-3;

        &__title {
            @apply text-blue text-lg lg:text-5xl mb-2 font-poppinssemibold;
        }

        &__content {
            @apply flex flex-col lg:flex-row gap-y-7 justify-center mb-1;

            margin-top: 2.125rem;
            column-gap: 5.625rem;
        }

        &__calendar {
            @apply border border-gray overflow-hidden w-full;

            border-radius: 0.5rem;
            padding: 0.25rem 0.8rem 0.5rem 0.8rem;
            width: 44.8125rem !important;
            height: auto !important;

            .fc {
                margin: auto !important;
                margin-bottom: 0.8rem !important;
                width: 43.1875rem !important;
                height: auto !important;
                border-radius: 0 !important;

                .fc-scroller-liquid-absolute {
                    overflow: hidden !important;
                }

                .fc-scrollgrid-liquid {
                    border: 0.063rem solid #0B2C4C !important;
                }

                .fc-daygrid-day {
                    width: 6.143rem !important;
                    height: 4.725rem !important;
                    border: 0.063rem solid #0B2C4C !important;
                    color: $grayText !important;

                    .fc-daygrid-day-number {
                        font-size: 1.25rem !important;
                        font-weight: normal !important;
                        text-decoration: none !important;
                    }

                    &.fc-day-selected {
                        background-color: rgba(0, 169, 157, 0.15) !important;

                        .fc-daygrid-day-number {
                            font-weight: bold !important;
                        }
                    }
                    &.fc-day-other {
                        background-color: rgba(208, 208, 208, 0.3) !important;
                    }
                }
                
                .fc-daygrid-day.fc-day-today{
                    background-color: rgba(0, 169, 157, 0.15) !important; 
                }
            }

            .fc-header-toolbar {
                padding: 0 !important;
                margin-bottom: 0.75rem !important;
            }

            .fc-toolbar-title {
                @apply text-blue text-base font-poppinsbold;
                text-transform: capitalize !important;
            }

            .fc-next-button, .fc-prev-button {
                background-color: $darkBlue !important;
                color: white !important;
                padding: 0 !important;
                border-radius: 0.125rem;
                width: 1.5625rem !important;
                height: 1.375rem !important;

                .fc-icon {
                    font-size: 1rem !important;
                }
            }

            .fc-button-group {
                @apply p-0 relative left-1;

                button {
                    @apply py-1 px-2 text-sm;
                }
            }

            .fc-listYear-button {
                @apply hidden;
            }

            .fc-col-header {
                width: 100% !important;
                background-color: $darkBlue !important;
                border: none !important;
                color: white !important;

                .fc-col-header-cell-cushion {
                    font-size: 0.875rem !important;
                    text-decoration: none !important; 
                }
            }

            .fc-highlight {
                background-color: transparent !important;
            }

            .fc-theme-standard th {
                @apply border-none font-poppinsbold;
            }
        }

        .hours {
            @apply m-auto lg:m-0;

            &__error {
                @apply text-purple text-tiny block mt-7 text-center;
            }

            &__items {
                @apply grid grid-cols-2 gap-y-2 gap-x-4.5 w-max;
            }

            &__item {
                &:hover .hours__value {
                    @extend .selected-time;
                }
            }

            &__value {
                @apply border-green border flex items-center justify-center text-gray-dark text-2lg cursor-pointer;

                width: 9.688rem;
                height: 2.75rem;
            }

            &__option {
                @apply hidden;

                &:checked ~ .hours__value {
                    @extend .selected-time;
                }
            }

            &__container-buttons {
                @apply grid grid-cols-2 gap-y-2 gap-x-4.5;
            }

            &__button {
                @apply bg-blue text-white rounded font-poppinsbold text-sm mt-7;

                width: 9.688rem;
                height: 1.875rem;
                box-shadow: 0rem 0.25rem 0.25rem 0rem #00000040;

                &:hover {
                    @apply bg-green text-white;
                }
            }

            &__button-back {
                @apply bg-white text-blue rounded font-poppinsbold text-sm mt-7;

                width: 9.688rem;
                height: 1.875rem;
                box-shadow: 0rem 0.25rem 0.25rem 0rem #00000040;

                &:hover {
                    @apply bg-green text-white;
                }
            }
        }
    }

    .contact-form {
        width: 28rem;
        margin: 2rem auto 3rem auto;
        text-align: center;
		min-height: 50dvh;

        &__title {
            @apply text-xl lg:text-28lg text-blue font-poppinssemibold;
        }

        &__description {
            @apply mt-2 text-gray-dark text-lg mb-7;
        }

        &__input {
            &--number {
                @apply w-full;
            }

            @media (min-width: 56.25rem) {
                &--text {
                    width: 26.875rem !important;
                }
				
                &--number {
					width: 22.3125rem !important;
                }
            }
        }
		
        &__prefix {
			width: 3.9375rem;
			
            &-text {
				padding: 0 !important;
                text-align: center !important;
            }
        }
		
        &__error {
			@apply mr-2 text-tiny text-purple my-2 text-right block w-90 xs:w-full;
        }

        &__recaptcha {
            @apply rounded-sm;

            max-width: 19rem;
        }

        &__container-buttons {
            @apply grid grid-cols-2 gap-y-2 gap-x-4.5;
        }

        &__button {
            @apply font-poppinsbold block mx-auto lg:mx-0;

            border-radius: 0.25rem !important;
            width: 13.188rem;
			height: 1.875rem;
        }

        &__button-back {
            @apply bg-white text-blue rounded font-poppinsbold text-sm;

            width: 13.188rem;
            height: 1.875rem;
            box-shadow: 0rem 0.25rem 0.25rem 0rem #00000040;

            &:hover {
                @apply bg-green text-white;
            }
        }

        .input--container {
            &:focus-within {
                border: 0.0625rem solid $green !important;
            }
        }
    }
}

.custom-schedule-steps {
    text-align: center;
  
    &__title {
      @apply text-blue font-poppinssemibold mb-8 mt-8;
      font-size: 3rem;
    }
  
    &__subtitle {
      @apply text-gray-dark font-poppins mb-8;
      font-size: 1.125rem;
    }
  }
  
  .custom-stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 1.25rem;
    position: relative;
  
    .step {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
  
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(100% + 10px);
        width: 2.5rem;
        height: 0.25rem;
        background-color: #e2e8f0;
        z-index: -1;
        transition: background-color 0.3s ease;
      }
  
      &:last-child::after {
        display: none;
      }
  
      &.active .step-circle {
        background-color: $green;
        border: none;
        color: white;
      }

      &.active .step-label {
        color: $green;
      }
  
      &.completed .step-circle {
        background-color: $green;
        border: none;
        color: white;
      }

      &.completed .step-label {
        color: $green;
      }

      &.active .step-label {
        color: $green;
      }
  
      &.completed::after {
        background-color: $green;
      }
    }
  
    .step-circle {
      width: 1.875rem;
      height: 1.875rem;
      border: 0.063rem solid #d9d9d9;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.875rem;
      font-weight: bold;
      color: #d9d9d9;
      transition: background-color 0.3s ease, color 0.3s ease;
      z-index: 1;
    }
  
    .step-label {
	  font-family: PoppinsBold;
	  width: 7.5rem;
      margin-top: 0.5rem;
	  font-size: 1rem;
	  color: #d9d9d9;
	  transition: color 0.3s ease;
  
      .active & {
        color: $green;
      }
  
      .completed & {
        color: $green;
      }
    }
  
    .step-connector {
      position: absolute;
      top: 20%;
      width: 18rem;
      height: 0.063rem;
      background-color: #d9d9d9;
      transition: background-color 0.3s ease;
      z-index: 0;
    }
  
    .step-connector.completed {
      background-color: $green;
    }
  }

  @media (max-width: 48rem) {
      .custom-schedule-steps {
        
          &__title {
            font-size: 2rem;
            line-height: 2rem;
          }
        
          &__subtitle {
            margin: 2rem;
            font-size: 1rem;
          }
        }

        .custom-stepper{
            gap: 2rem;
      
            .step-connector{
                width: 10rem;
            }
        }
        .schedule-demo {
      
            .scheduling {

                &__calendar {
                    .fc {
                        width: 100%!important;
                        height: 18rem !important;
        
                        .fc-daygrid-day {
                            width: 100% !important;
                            height: 1rem !important;
                        }
                    }
                }
        
                .hours {
                    width: 100% !important;
                    &__container-buttons {
                        @apply mt-4 mb-8 flex flex-col-reverse;
                        grid-template-columns: none;
                        row-gap: 0;
                    }
        
                    &__button {
                        @apply w-full;
                    }
        
                    &__button-back {
                        @apply w-full;
                    }
                    &__items {
                    width: 100% !important;
                    }
                    &__value {
                        width: 100% !important;
                    }
                }
            }
            .contact-form {
                width: 90%;
                margin: 2rem auto 6rem auto;
      
                &__container-buttons {
					@apply flex flex-col-reverse;

                    grid-template-columns: none;
                }
                &__button-back {
                    @apply w-full;
                }
                &__button {
                    @apply w-full;
                }
            }
        }
  }

  @media (max-width: 64rem) {
    .schedule-demo {

        .scheduling {
            padding: 1rem 2rem 4.375rem 2rem;

            .fc-scrollgrid-sync-table{
                width: 100% !important;
                height: 14.125rem !important;
            }

            &__content {
                column-gap: 2.5rem !important;
            }
    
            &__calendar {
                @apply overflow-hidden m-auto;
                
                width: 100% !important;
                height: 20rem !important;
    
                .fc {
                    width: 90%!important;
                    height: 18rem !important;
    
                    .fc-daygrid-day {
                        width: 100% !important;
                        height: 1rem !important;
    
                        .fc-daygrid-day-number {
                            font-size: 0.8rem !important;
                        }
                    }
                    .fc-daygrid-day-frame{
                        height: 2.5rem !important;
                    }   
                }
                .fc-col-header {
    
                    .fc-col-header-cell-cushion {
                        font-size: 0.7rem !important;
                    }
                }
            }
    
            .hours {
                width: 100% !important;
                    &__container-buttons {
                        @apply mt-4 mb-8 flex flex-col-reverse;
                    }
        
                    &__button {
                        @apply w-full;
                    }
        
                    &__button-back {
                        @apply w-full;
                    }
                    &__items {
                    width: 100% !important;
                    }
                    &__value {
                        width: 100% !important;
                    }
            }
        }
    }

    .checkbox-contact-form {
        margin-top: 2rem !important;
    }
}
  
@media (min-width: 150rem) {
    .input4K{
        height: 3.5rem !important;
        font-size: 1.563rem !important;
    }
    .checkmark4K{
        width: 1.563rem !important;
        height: 1.563rem !important;
        top: calc(50% - 0.875rem) !important;
    }
    .required4K{
        font-size: 1.563rem !important;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        
    }
    
    .custom-schedule-steps {
        
        &__title {
          font-size: 5rem;
          line-height: 7rem;
        }
      
        &__subtitle {
          margin: 3rem;
          font-size: 1.8rem;
        }

    }
    .custom-stepper{
        gap: 32rem;
  
        .step-connector{
            width: 48rem;
        }
        .step-circle {
          width: 3.5rem;
          height: 3.5rem;
          font-size: 2rem;
        }
      
        .step-label {
          width: 16.5rem;
          font-size: 1.8rem;
        }
      }

      .schedule-demo {  
        .scheduling {

            padding: 5.75rem !important;
    
            &__calendar {
                width: 80rem !important;
                height: 59rem !important;
                
                .fc-header-toolbar {
                    margin-top: 1.5rem !important;
                }
    
                .fc {
                    width: 71rem !important;
                    height: 55rem !important;
    
                    .fc-daygrid-day {
                        width: 10.143rem !important;
                        height: 9.725rem !important;
    
                        .fc-daygrid-day-number {
                            font-size: 1.8rem !important;
                            padding: 1rem !important;
                        }
                    }
                }
    
                .fc-toolbar-title {
                    font-size: 1.8rem !important;
                }
    
                .fc-next-button, .fc-prev-button {
                    width: 2.5625rem !important;
                    height: 2.375rem !important;
    
                    .fc-icon {
                        font-size: 1.8rem !important;
                    }
                }
    
                .fc-col-header {
    
                    .fc-col-header-cell-cushion {
                        font-size: 1.5rem !important;
                    }
                }
            }
    
            .hours {
                &__items {
                    row-gap: 1.5rem;
                }
                &__error {
                    font-size: 1.8rem;
                }
                &__size4K{
                    font-size: 1.8rem;
                    margin-bottom: 1.5rem;
                }

                &__value {  
                    width: 28.688rem;
                    height: 5.75rem;
                    font-size: 2.25rem
                }
    
                &__button {
                    width: 28.688rem;
                    height: 4.375rem;
                    font-size: 1.875rem;
                }
    
                &__button-back {    
                    width: 28.688rem;
                    height: 4.375rem;
                    font-size: 1.875rem;
                }
            }

        }
        .contact-form {
            width: 65rem;
    
            &__description {
                font-size: 2.125rem !important;
                margin-bottom: 3rem;
            }
    
            &__input {
                &--number {
                    width: 100% !important;
                }
    
                @media (min-width: 56.25rem) {
                    &--text {
                        width: 100% !important;
                    }
    
                    &--number {
                        width: 100% !important;
                    }
                }
            }
    
            &__prefix {
                width: 5.9375rem;
                height: 3.5rem;
    
                &-text {
                    font-size: 1.438rem !important;
                }
            }
    
            &__error {
                font-size: 1.563rem !important;
            }
    
            &__button {
                width: 31.688rem;
                height: 4.375rem;
                font-size: 1.875rem;
            }
    
            &__button-back {
                width: 31.688rem;
                height: 4.375rem;
                font-size: 1.875rem;
            }
        }
    }
    .checkbox-contact-form{
        font-size: 1.8rem;
        line-height: 2rem;
        padding-left: 2.5rem;
    }
}
  