$gray: #AEAEAF;

.tooltip-title {
    @apply bg-gray-light rounded-lg py-6 px-5 border-gray z-50 absolute;
    width: 20.5rem;
    min-height: 6.9375rem;
    border: 0.0625rem solid $gray;
    left: -2.25rem;
    top: 1rem;

	&.height-size {
		min-height: 9.5694rem;
	}

    @media (max-width: 37.5rem) {
        left: -9.5rem;
    }

    &--invested {
        left: -18.125rem;
    }
}

.triangle {
    @apply absolute -top-10;
    left: -0.25rem;
    top: -2.625rem;

    @media (max-width: 37.5rem) {
        left: 7.0625rem;
    }

    &--invested {
        left: 15.6875rem;
    }

    &__bg {
        @apply h-6 bg-gray-light relative;
        width: 2.375rem;
        top: -0.375rem;
    }
}

.custom-tooltip {
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
}
