@import "../../../../index.scss";

@mixin field-width($width) {
    width: $width;
    min-width: $width;
    max-width: $width;
}

.quote-list {
    &__create-button {
        @apply border-none rounded-md text-white cursor-pointer inline-flex items-center gap-2 flex-shrink-0 relative outline-none whitespace-nowrap;
        @apply p-2 text-sm;
        background-color: #00A99D !important;
        box-sizing: border-box;
        width: 9.25rem;
        min-width: 9.25rem;
        max-width: 9.25rem;
        height: 2.875rem;
        min-height: 2.875rem;
        max-height: 2.875rem;
        box-shadow: 0 0.25rem 0.25rem 0 rgba(0,0,0,0.25);

        svg {
            @apply mr-0 flex-shrink-0;
            width: 1.25rem;
            height: 1.25rem;
            stroke-width: 2.5;
        }

        &:focus-visible {
            outline: 2px solid theme('colors.green.DEFAULT');
            outline-offset: 2px;
        }

        &--disabled {
            @apply bg-gray cursor-not-allowed opacity-60;

            .quote-list__button-text {
                @apply text-gray-dark;
            }
        }
    }

    &__icon-container {
        @apply relative w-5 h-5 flex items-center justify-center flex-shrink-0;
    }

    &__icon {
        @apply relative w-full h-full text-current;
    }

    &__button-text {
        @apply text-white whitespace-nowrap flex-shrink-0 text-sm font-normal;
        line-height: normal;
    }

    &__download-icon {
        @apply bg-white rounded-md inline-flex items-start gap-2.5 cursor-pointer border-none outline-none justify-center p-1.5 w-10;
        @apply transition-all duration-200 ease-in-out;
        box-shadow: 0 0.25rem 0.25rem 0 rgba(0,0,0,0.25);
        height: 2.625rem;

        &:hover {
            @apply -translate-y-1;
            box-shadow: 0 0.375rem 0.5rem 0 rgba(0,0,0,0.3);
        }

        &:active {
            @apply translate-y-0;
            box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,0.25);
        }
    }
}


.quotes-report-table {
    @apply overflow-x-scroll w-full;
    
    &__table {
        min-width: 56.5rem;
    }

    &__selector {
        @include field-width(2.5rem);
        @apply bg-transparent border-none;
        
        &.table-field {
            @apply bg-transparent border-none;
            
            &:first-child {
                @apply border-l-0;
            }
        }
    }

    &__number {
        @include field-width(8rem);
    }
    
    &__date {
        @include field-width(10rem);
    }
    
    &__client {
        @include field-width(12rem);
    }
    
    &__email {
        @include field-width(15rem);
        @apply break-words whitespace-normal p-2;
        line-height: 1.3;
    }
    
    &__status {
        @include field-width(9rem);
    }

    &__header {
        @apply text-left font-bold text-sm text-blue;
        line-height: 0.9375rem;
    }

    &__header-text {
        @apply block text-left text-sm font-allerbold leading-4 text-blue;
    }
    
    tr[style*="background-color"] {
        th.table-field.quotes-report-table__selector {
            background: transparent !important;
            background-color: transparent !important;
            border: none !important;
            border-style: none !important;
        }
    }
    
    tr.bg-gray-light,
    tr.bg-white,
    tr.tr-gray,
    tr.tr-white {
        td.table-field.quotes-report-table__selector {
            background: transparent !important;
            background-color: transparent !important;
            border: none !important;
            border-style: none !important;
        }
    }
}

.table-field-text {
    @apply text-left font-normal text-sm leading-4 text-gray;
}

.table-field {
    @apply p-0;

    &.quotes-report-table__selector {
        @apply bg-transparent border-none #{!important};
    }
}

div.quotes-report-table table.table tbody tr td.table-field.quotes-report-table__selector,
div.quotes-report-table table.table thead tr th.table-field.quotes-report-table__selector {
    @apply bg-transparent border-none #{!important};
}

.quotes-report {
    @apply min-h-screen w-full;
    background-color: #FCFDFF;
}

.quotes-report-table {
    &__cell-selector {
        @apply p-0.5 px-1 text-center;
        width: 2.5rem;
        min-width: 2.5rem;
        max-width: 2.5rem;
    }

    &__cell-standard {
        @apply p-1 px-2 pb-1.5 mb-2;
        width: 11.6875rem;
        min-width: 11.6875rem;
        max-width: 11.6875rem;
    }

    &__header-bg {
        @apply bg-green-ultraLight;
    }

    &__link-purple {
        @apply text-purple;
    }
}

.quote-filter-input {
    box-sizing: border-box;
    width: 18.125rem;
    min-width: 18.125rem;
    max-width: 18.125rem;

    input.input {
        box-sizing: border-box;
        width: 18.125rem !important;
        min-width: 18.125rem;
        max-width: 18.125rem;
        height: 2rem !important;
        min-height: 2rem !important;
        max-height: 2rem !important;
    }

    .select-search {
        box-sizing: border-box;
        height: 2rem;
        min-height: 2rem;
        max-height: 2rem;

        &__input {
            box-sizing: border-box;
            height: 2rem;
            min-height: 2rem;
            max-height: 2rem;
            padding-left: 0.375rem;
            padding-right: 1.75rem;
            @apply text-sm font-normal border-none;
        }

        &__select {
            border-radius: 0.375rem;
        }

        &__value {
            box-sizing: border-box;
            width: 18.125rem;
            min-width: 18.125rem;
            max-width: 18.125rem;
            height: 2rem;
            min-height: 2rem;
            max-height: 2rem;
            padding-left: 0 !important;

            &::after {
                display: none;
            }
        }
    }
}

.quote-dropdown-icon {
    box-sizing: border-box;
    width: 1.375rem !important;
    min-width: 1.375rem !important;
    max-width: 1.375rem !important;
    height: 1.375rem !important;
    min-height: 1.375rem !important;
    max-height: 1.375rem !important;
    top: 1.875rem !important;
    right: 0.25rem !important;

    img {
        width: 0.625rem !important;
        min-width: 0.625rem !important;
        max-width: 0.625rem !important;
        height: 0.625rem !important;
        min-height: 0.625rem !important;
        max-height: 0.625rem !important;
    }
}

.quote-search-icon {
    box-sizing: border-box;
    width: 1.375rem !important;
    min-width: 1.375rem !important;
    max-width: 1.375rem !important;
    height: 1.375rem !important;
    min-height: 1.375rem !important;
    max-height: 1.375rem !important;
    top: 1.875rem !important;
    right: 0.5rem !important;

    img {
        width: 0.625rem !important;
        min-width: 0.625rem !important;
        max-width: 0.625rem !important;
        height: 0.625rem !important;
        min-height: 0.625rem !important;
        max-height: 0.625rem !important;
    }
}

.quote-filter-date {
    width: 9.625rem;
    min-width: 9.625rem;
    max-width: 9.625rem;
    height: 2rem !important;
    min-height: 2rem !important;
    max-height: 2rem !important;
    box-sizing: border-box;
}

.quote-filter-wide {
    width: 18.125rem;
}


.quote-filter-text {
    &--filled {
        @apply text-blue text-sm font-normal;
    }
    
    &--placeholder {
        @apply text-sm font-normal;
        color: #D9D9D9;
    }
    
    &--center {
        @apply text-center;
    }
    
    &--start-date,
    &--end-date,
    &--search,
    &--select {
        @apply text-blue text-sm font-normal;

        &--empty {
            color: #D9D9D9;
        }
    }
    
    &--start-date,
    &--end-date {
        @apply text-center;
    }
}

.date-input-placeholder {
    &::placeholder {
        @apply text-center text-sm font-normal;
        color: #D9D9D9;
    }
}

.quotes-report-datepicker {
    position: relative;

    .react-datepicker-popper {
        z-index: 9999 !important;
    }
}

.quotes-pagination {
    .text-tiny {
        @apply text-xs leading-4;
    }
}


