.main--title {
	@apply text-26lg text-center my-4.5 text-blue font-allerbold;
}

.section {
	@apply flex flex-col md:flex-row;
	&__container {
		@apply flex flex-col justify-between md:flex-row xl:justify-start w-full md:w-5/6;

		&--input {
			@apply w-full mb-4 md:w-1/2 xl:w-64 md:mb-0;

			.class-input {
				@apply w-full lg:w-53;
			}
		}
	}

	&__download {
		@apply flex justify-end mt-4 w-full md:w-1/6;
	}
}

.table--container {
	@apply my-4.5;

	.max-w--columns {
		max-width: 9.375rem;
		min-width: 9.375rem;

		@media (max-width: 48rem) {
			@apply xs:pt-3 xs:pl-2;

			max-width: 9.375rem;
			min-width: 9.375rem;
		}
	}

	.modification-field {
		@apply xs:pt-1 xs:h-7;
		width: 41.5rem;
		max-width: 41.5rem;
	}
}
