$gray-color: #F4F4F4;
$blue-color: #0B2C4C;
$green-color: #00A99D;
$green: green;


.timepicker-container {
    @apply shadow-templateDesign rounded-md;
    width: 13.3125rem;

    &.timepicker-complete {
        @apply -right-16.5 xs:-right-4;

        width: 18.875rem;

        .timepicker-height {
            @apply max-h-40;
        }
    }

}

.timepicker-height {
    @apply max-h-44;
}

.input-file-height {
    height: 7.313rem;
}

.input-- {
    &container {
        @apply flex h-8 rounded-md w-full bg-transparent items-center text-sm;

        .input {
            @apply w-full px-2 rounded-md outline-none focus:outline-none bg-transparent;
        }

        .input--date-range {
            @apply w-full px-1.5 rounded-md outline-none focus:outline-none bg-transparent;
        }

        &:focus-within {
            --tw-border-opacity: 1;
            border-color: rgba(0, 169, 157, var(--tw-border-opacity)) !important;

            .icon {
                @apply z-10 rotate-180 cursor-pointer pointer-events-auto;
            }
        }
    }

    &file {
        @apply flex flex-col justify-center text-center border rounded-md h-28;

        input {
            @apply hidden;
        }

        &__trashIcon {
            min-width: 1.375rem;
        }
    }

    &value {
        @apply border-gray-dark text-gray-dark;
    }

    &disabled {
        @apply bg-gray-light border-gray-light rounded-md;
    }

    &initial {
        @apply border-gray;
    }

    &required {
        --tw-border-opacity: 1;
        border-color: rgba(129, 49, 155, var(--tw-border-opacity)) !important;
    }

    &options {
        --tw-border-opacity: 1;
        border-color: rgba(0, 169, 157, var(--tw-border-opacity)) !important;
    }
}

.select-message {
    @apply flex items-start p-3 text-center bg-white rounded-md pointer-events-none shadow-select;
}

.select-custom {
    @apply bg-gray-light shadow-select z-20 rounded-md;

    .option {
        background-color: $gray-color !important;

        @apply text-sm border-b border-gray py-2 text-center hover:text-white;

        &:first-child {
            @apply rounded-tl-md rounded-tr-md;
        }

        &:last-child {
            @apply border-none rounded-bl-md rounded-br-md;
        }
    }

    .option:hover {
        background-color: $blue-color !important;
    }

    .option-green:hover {
        background-color: $green-color !important;
    }
}

.list-position {
    position: absolute;
    top: -100%;
}

.adaptable-text-area {
    @apply border rounded-md w-full bg-transparent justify-center text-sm xs:text-tiny focus:outline-none relative pl-2 pt-1.5;
    caret-color: black;
    min-height: 2rem;
}

.adaptable-text-area-table {
    @apply border rounded-md w-full bg-transparent justify-center text-sm focus:outline-none relative h-1;

    min-height: 1rem;
}

.text-area-table {
    @apply w-full bg-transparent justify-center text-sm focus:outline-none relative pl-2 pt-1.5;
    max-height: 5rem;
    min-height: 2rem;
    // scrollbar in firefox
    scrollbar-width: thin;
    scrollbar-color: green white;

    &::-webkit-scrollbar {
        @apply w-1.5 h-1.5;
    }

    &::-webkit-scrollbar-track {
        @apply bg-green bg-opacity-20 rounded-md;
    }

    &::-webkit-scrollbar-thumb {
        @apply bg-green rounded-md xs:bg-opacity-70;
    }
}

.input-image {
    @apply flex items-center justify-center border rounded-md w-full text-sm relative h-full;
    height: 5.3125rem;

    &__preview {
        @apply bottom-0 w-full absolute flex justify-center items-center text-tiny text-white bg-cover bg-center bg-no-repeat rounded-b-md;
        height: 74%;
    }
}

.text-error {
    @apply block text-tiny text-purple mr-1.5 text-right;
}

/* START SELECT SEARCH STYLES */

/**
* Main wrapper
*/
.select-search {
    @apply h-full w-full relative font-aller box-border;

    &::after {}
}

.select-search *,
.select-search *::after,
.select-search *::before {
    box-sizing: inherit;
}

/**
* Value wrapper
*/
.select-search__value {
    @apply relative h-full w-full pl-2;
}

/**
* Input
*/

.select-search__input {
    @apply rounded-md block w-full h-full pr-10 pl-2 border-gray outline-none text-center bg-transparent ml-2;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.select-search__input:not([readonly]):focus {
    cursor: initial;
}

/**
* Options wrapper
*/
.select-search__select {
    @apply shadow-templateDesign bg-gray-light;
    border-radius: 0.375rem !important;
    // scrollbar in firefox
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 169, 157) rgb(244, 244, 244);

    &::-webkit-scrollbar {
        @apply w-1.5 h-20;
    }

    &::-webkit-scrollbar-track {
        @apply bg-green bg-opacity-20 rounded-md;
    }

    &::-webkit-scrollbar-thumb {
        @apply bg-green rounded-md xs:bg-opacity-70;
    }
}

/**
* Option row
*/
.select-search__row:not(:first-child) {
    @apply border-t;
}

/**
* Option
*/
.select-search__option,
.select-search__not-found {
    @apply bg-gray-light block h-9 w-full px-4 py-2 border-0 text-center cursor-pointer;
    height: auto !important;
}

.select-search--multiple .select-search__option {
    @apply h-16;
}

.select-search__option.is-selected {
    @apply bg-blue text-white;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
    @apply bg-blue text-white;
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
    @apply bg-blue text-white;
}

/**
* States
*/
.select-search.is-disabled {
    @apply bg-gray-light;
}

.select-search:not(.is-disabled) .select-search__input {
    @apply cursor-pointer;
}

.select-search:not(.select-search--multiple) .select-search__select {
    @apply absolute z-20 top-8 right-0 left-0 rounded-sm overflow-auto max-h-48;
}

.select-search--multiple .select-search__select {
    @apply relative overflow-auto border-t rounded-sm;
    max-height: 16.25rem;
}

.select-search__not-found {
    @apply h-auto p-1 text-center text-gray-dark;
}

.scroll-select {
    @apply overflow-scroll overflow-y-scroll overflow-x-hidden h-auto max-h-28;
}

.scroll-options {
    @apply overflow-y-auto overflow-x-hidden overflow-scroll max-h-23.2 w-41 m-auto;
}

.hidden-scroll-select {
    @apply overflow-hidden max-h-34 w-51.5 py-2;
}

.options-custom {
    @apply flex justify-between pb-2 border-gray border-b hover:bg-blue-light;
}

.options-custom:not(:first-child) {
    @apply py-2;
}

.button-select {
    @apply flex w-full justify-center border-gray h-14 hover:bg-blue;
}

.input-fonts {
    @apply text-gray-dark hover:text-white hover:bg-blue border-gray h-full text-sm flex flex-col justify-around items-start py-2 pl-3 text-center;

    &-span {
        @apply font-bold;
    }

    &-text {
        @apply text-sm;
    }
}

.input-button {
    @apply text-white bg-blue border border-white text-sm flex flex-col justify-center items-center p-4 my-2 text-center;
}

.search-table__input {
    @apply text-center;
}

.text-number-format::-webkit-inner-spin-button,
.text-number-format::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

/* FINISH SELECT SEARCH STYLES */

.select-category {
    &__list-container {
        height: auto;
        max-height: 92px;
    }

    &__input {
        width: 13rem !important;
    }
}

.options-categories {
    @apply flex justify-between pb-1.25 border-gray border-b pt-1.25;

    &:first-child {
        @apply pt-0;
    }
}

.scroll-options-container {
    scrollbar-color: $green-color $gray-color !important;
}

.is-disabled {
    border-radius: 0.375rem;
}

.view__file {
    @apply bg-blue text-white font-aller flex rounded-md justify-between text-tiny;
    width: 13rem;
    height: 1.9375rem;
    padding: 0.1875rem 0.5rem;
}

.upload__file {
    @apply flex flex-col items-center rounded-md;
    width: 14.625rem;
    height: 4.3125rem;
    border: 0.0625rem solid #AEAEAF;
    padding: 0.875rem 0.375rem;
}

.p-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: calc(1.4em * 2);
    white-space: normal;
    margin: 0;
}

.icon-input-search {
    @apply w-5.5 h-5.5 flex justify-center items-center;
    min-width: 1.375rem;
}

.selectSearch-loading {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
