@import "../../../../index.scss";

.information-card {
    @apply flex flex-col rounded-lg bg-white h-full p-4.5 gap-y-4.5 w-full;

    box-shadow: 0rem 0.25rem 0.25rem 0rem #00000040;
    max-width: 60.25rem;

    &--title {
        @apply text-base text-blue font-allerbold;
    }

    .fields__card {
        @apply grid grid-cols-1 lg:grid-cols-3 gap-y-4.5 gap-x-7;

        .input--width {
            @apply w-full;

            @media (min-width: 37.5rem) {
                @include field-width(18.125rem);
            }
        }
    }
}
