@import "../../index.scss";
@import "../../components/electronic-documents/cards/Cards.scss";

.generate-invoices {
    &__document-card {
        @include card(12.75rem, 3.875rem);
    }

	&__content {
		width: 32.625rem;
	}

	&__modal-contingency {
		&__content {
			height: auto;
			width: 32.625rem;
			min-height: 21.3125rem;
			max-height: 21.3125rem;
		}
	}

	.table-total {
		@apply flex flex-col text-base gap-y-0.5;

		&__container {
			@apply text-blue flex gap-4.5;
			width: 17.6681rem;
			height: 1.1875rem;

			& h3 {
				@apply text-base text-blue;
			}
		}
	}

    .billing-information {
        @apply bg-white py-4.5 px-7 rounded;

        &__shipping-cost {
            @apply text-sm outline-none border border-gray-dark rounded pl-0.5 m-0;

            width: 6.625rem;
            height: 1.1875rem;

            &--disabled{
                @apply bg-gray-light text-sm outline-none border border-gray-dark rounded pl-0.5;
                width: 6.625rem;
                height: 1.1875rem;
            }

            input {
                @apply m-0 p-0 w-full text-left;

                height: 1.1875rem;
            }
        }

        &__text-area {
            width: 17.4781rem;
        }

        &__lower-section {
            @apply flex flex-col items-center justify-center mt-4.5;
            gap: 2.375rem;
          
            @media (min-width: 62.5rem) {
              @apply flex-row;
            }
          
            @media (max-width: 23.4375rem) {
              width: 16.5rem;
            }
        }
    }

    .invoice-form {
        @apply mb-4.5;

		&__select-search {
			@apply leading-xtiny max-h-8 #{!important};
		}

        &__group {
            @apply flex flex-col gap-x-7 lg:flex-row gap-y-4.5;
        }

		&__foreign-message {
			@apply text-right text-green text-tiny mx-1.5 h-8.2;
		}

        &__customer-button {
            @apply mt-2 underline cursor-pointer text-green;

            &:disabled {
                @apply text-gray;
            }
        }
    }

    .radio-buttons {
        @apply mb-4.5;

        .radio-button {
            @apply flex gap-2.5 items-center;

            &__option {
                @apply bg-gray-light h-8 text-xs flex items-center text-gray-dark pl-2.5 xl:pl-16 pr-2.5 justify-between cursor-pointer;
                width: 25.625rem;
                border-radius: 0.5rem;
            
                @media (max-width: 22.5rem) {
                    width: 14.625rem; 
                }
            }

            > input {
                @apply cursor-pointer appearance-none bg-white rounded-full w-4.5 h-4.5 border border-gray;

                &:checked {
                    @apply border-transparent bg-blue;
                }
            }
        }
    }

    .products-table {
        @apply mt-4.5 overflow-x-scroll w-full #{!important};

        &__icon {
            @apply cursor-pointer w-4.5 h-4.5;
            min-width: 1.125rem;
        }

        &__number, &__selector {
            @include field-width(2.5rem);
        }

        &__sku {
            @include field-width(15rem);
        }

        &__description {
            @include field-width(8.75rem);
        }

        &__warehouse, &__batch, &__due-date, &__unit, &__discount-rate, &__discount {
            @include field-width(7.5rem);
        }

        &__quantity, &__taxes {
            @include field-width(7.1875rem);
        }

        &__unit-value {
            @include field-width(7.8125rem);
        }

        &__select {
            width: 100% !important;
            padding: 0 !important;
            margin: 0 !important;

            textarea {
                @apply text-sm;

                line-height: 0.9375rem;
                padding: 0 !important;
                width: 100% !important;
                margin: 0 !important;

                @media (max-width: 37.5rem) {
                    font-size: 0.75rem;
                    line-height: 0.75rem;
                }
            }
        }
        
		.number-input-style {
			@apply text-left lg:h-auto;
		}

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            @apply appearance-none m-0;
        }
    }

    .withholding-table {
		.number-input {
			@apply text-left w-5/6 lg:h-auto;
	
			&--disabled {
				@apply text-gray #{!important};
			}
	
			&--disabled-blue {
				@apply text-blue #{!important};
			}
	
			&--m-left-0 {
				@apply ml-0 #{!important};
			}
		}

        @media (min-width: 62.5rem) {
            width: 38.0625rem;
        }
 
        @media (max-width: 22.5rem) {
            width: 16.5rem;
        }
 
        &__select {
			@apply text-left px-0 m-0 #{!important};
            font-size: 0.75rem !important;
 
            @media (min-width: 80rem) {
                font-size: 0.875rem !important;
            }
        }

		&__text-left {
			@apply text-left;
		}

		&__size-header {
			width: 9.5156rem;
		}
    }

    .optional-fields {
        @apply h-0 flex flex-wrap gap-x-7 gap-y-4.5;
        max-width: 38.75rem;

        &--active {
            @apply h-full;
            height: 8.375rem;

            @media (max-width: 37.5rem) {
                height: 17.5rem;
            }
        }
    }

	.margin-8 {
		@apply mb-2;
	}
	
	@media screen and (min-width: 3.125rem) and (max-width: 47.9375rem) {
		&__modal-contingency {
			&__content {
				@apply h-auto w-full max-h-full min-h-full;
			}
		}
		
		.table-total {
			&__container {
				width: 100%;
			}
		}
	}
}
