.card-file {
    @apply shadow-card bg-white flex justify-center items-center rounded cursor-pointer relative overflow-hidden;

    width: 12.3125rem;
    height: 3.75rem;

    &--logo-container {
        @apply w-full h-full px-4.5 gap-2.5;
        flex-shrink: 0;
    }

    &:hover {
        .card-file__shadow {
            @apply flex;
        }
    }

    &__text {
        @apply block text-sm text-center text-green cursor-pointer;
    }

    &__shadow {
        @apply absolute left-0 top-0 w-full h-full items-center justify-center gap-2 hidden transition-all;

        background-color: rgba(0, 0, 0, 0.25);
    }
}
