.composite-editor {
    &__title {
        @apply text-sm text-left text-blue font-allerbold h-4.5;
    }

    &__caption {
        @apply text-tiny text-blue font-allerbold;
    }

    &__link {
        @apply text-green text-tiny underline outline-none transition-all;
    }

    .select {
        &--font-family {
            width: 7.031rem;

            .select__options {
                width: 11.1875rem !important;
            }
        }

        &--font-weight {
            width: 7.031rem;

            .select__options {
                @apply w-full;
            }
        }

        &--font-size {
            width: 3.8125rem;

            .select__options {
                width: 3.8125rem !important;
            }
        }

        &--color {
            width: 7.125rem;
            padding: 0 !important;

            input {
                padding-left: 0.3125rem !important;
                font-size: 0.75rem !important;
                margin: 0 !important;
            }

            label {
                max-width: 1.25rem !important;
                margin-right: 0.125rem !important;
            }
        }
    }

    .text-area {
        @apply w-57;
    }

    .filter-option {
        @apply flex items-center justify-center;

        &__text {
            @apply items-center text-sm leading-4;

            width: 9.0625rem;
        }
    }

	.filter-option:hover {
		@apply text-gray-dark;
		background-color: transparent !important;

		&::before {
			@apply absolute inline-block w-full bottom-0 m-auto inset-x-0 bg-gray;

			content: '';
			height: 0.0313rem;
			width: calc(100% - 2rem);
		}
	}

    .item-field {
        @apply flex items-center justify-between px-2 border border-black rounded-md;

        width: 11.125rem;
        height: 1.625rem;
    }

    .disabled-link {
        @apply text-gray cursor-default #{!important};
    }

	.modal-catalog {
		z-index: 40 !important;
	}
}
