.cropper {
	@apply flex flex-col bg-gray-light rounded-2.5xl;
	width: 41.5rem;
	height: auto;
	padding: 2.5rem;

	&__header {
		@apply w-full flex flex-row justify-center items-center;

		.icon--styles {
			@apply mr-1;
			width: 1.375rem;
			height: 1.375rem;
		}

		.title {
			@apply font-allerbold font-bold text-xl text-blue;
		}
	}

	&--description {
		@apply text-base font-normal text-gray-dark text-center w-full mt-2.5;
	}

	&__body {
		.image__container {
			@apply mt-2.5 rounded-lg relative inline-block overflow-hidden;
			width: 35.9375rem;
			height: 25rem;

			.image-workspace {
				@apply flex h-full items-center justify-center relative overflow-hidden;
			}

			.crop-area-mask {
				@apply absolute top-0 left-0 right-0 bottom-0 pointer-events-none;
				background-color: rgba(0, 0, 0, 0.56);
				z-index: 2;
			}

			img {
				max-width: 100%;
				max-height: 100%;
				display: block;
				z-index: 0;
			}

			.cropper--area {
				@apply absolute bg-transparent box-border pointer-events-auto cursor-move;
				z-index: 1;
				border: 0.1875rem solid rgba(255, 255, 255, 1);
			}
		}

		.zoom__container {
			@apply flex flex-col justify-start;

			.title {
				@apply text-base font-bold font-allerbold text-left text-blue mb-2.5;
			}

			.slider--container {
				@apply relative flex;
				width: 15.25rem;
			}

			.zoom--slider {
				@apply p-0;

				.MuiSlider-thumb {
					width: 0.75rem;
					height: 0.75rem;
					background-color: rgba(217, 217, 217, 1);

					&::before {
						@apply absolute -left-4 p-2 bg-gray-light text-sm w-max h-auto text-gray-dark font-allerbold border border-gray hidden;
						z-index: 70;
						top: 2rem;
						content: attr(aria-label);
						border-radius: 0.5rem;
					}
		
					&::after {
						@apply absolute bg-gray-light border-gray border border-b-0 border-r-0 hidden;
			
						z-index: 90;
						content: "";
						top: 1.5rem;
						left: 0.125rem;
						right: 3rem;
						width: 1.0625rem;
						height: 1.0625rem;
						transform: rotate(45deg);
						border-radius: 0;
					}
		
					&:hover {
						&.MuiSlider-thumb {
							&::after, &::before {
								@apply block;
							}
						}
					}
				}

				.MuiSlider-rail {
					background-color: #00A99D;
					height: 0.625rem;
				}

				.MuiSlider-track {
					border: 0.0625rem solid rgba(0, 169, 158, 0.357);
					background-color: rgba(0, 169, 158, 0.357);
					height: 0.625rem;
				}
			}
		}

		.button__container {
			@apply flex flex-row justify-end mt-1;
		}
	}
}