@import "../../index.scss";

.table-totals {
	@apply flex flex-wrap gap-x-2 gap-y-0.5 xs:mx-auto;
	@include field-width(16.9375rem);

	.body {
		&__title {
			@apply bg-transparent;

			& h3 {
				@apply text-base text-blue font-aller font-normal leading-19.38px;
			}
		}

		&__bg-green {
			& h3 {
				@apply font-allerbold font-bold #{!important};
			}
		}
	}

	.padding-0 {
		@apply p-0;
	}

	.height-19px {
		@include field-height(1.1875rem);
	}
}
