.connect-own-domain {
	@apply flex flex-col pb-11;

	.domain-url__content {
		@apply grid gap-y-4.5 justify-center items-center mt-10;

		.container__input {
			@apply flex flex-col;

			.input--styles {
				width: 36.25rem;
				min-width: 36.25rem;

				@media (max-width: 48rem) {
					min-width: 17.5rem;
					width: 100%;
				}
			}

			.input--wrapper-styles {
				@apply border-purple;
			}
	
			.is-valid {
				@apply text-tiny font-aller font-normal w-full text-purple text-right mt-2;
				line-height: 0.9081rem;
			}
		}

		.button__container {
			@apply flex justify-center items-center;
		}
	}
}
