$gray-dark: #4B4B4B;
$gray-light: #F4F4F4;
$green: #00A99D;

.switch {
    @apply flex flex-col;

    &__button {
        @apply relative inline-block cursor-pointer;

        width: 3.4125rem;
        height: 1.375rem;
    }

    &__input {
        @apply opacity-0 w-0 h-0;

        &:checked + .switch__slider {
            background-color: $green;
        }

        &:focus + .switch__slider {
            box-shadow: 0 0 0.0625rem $green;
        }

        &:checked + .switch__slider {
            &::before {
                -webkit-transform: translateX(1.625rem);
                -ms-transform: translateX(1.625rem);
                transform: translateX(1.625rem);
            }
        }
    }

    &__label {
        @apply mb-1 text-sm font-allerbold text-blue;
    }

    &__slider {
        @apply absolute cursor-pointer inset-0;

        background-color: $gray-dark;
        transition: .4s;
        border-radius: 2.125rem;

        &::before {
            @apply absolute rounded-full;

            content: "";
            height: 1.0625rem;
            width: 1.0625rem;
            left: 0.375rem;
            bottom: 0.1875rem;
            background-color: $gray-light;
            transition: .4s;
        }
    }

    &__text {
        @apply absolute text-white text-sm font-allerbold transition-all;

        top: 0.0813rem;
    }
}
