.payment-gateway-synchronization {
	@apply contents;

	.content-cards {
		@apply flex gap-x-4.5 mb-7;
	}

	.sub-title-pages {
		@apply text-blue font-allerbold text-26lg text-center;
	}

	.title-section {
		@apply font-allerbold text-blue text-base mt-7 mb-4.5;
	}

	.margin-t-auto {
		@apply mt-auto;
	}

	.content-steps {
		@apply flex xs:flex-col justify-between mb-7;
		column-gap: 5.8125rem;

		&__column {
			@apply flex flex-col gap-y-3.75;

			&__title {
				@apply font-allerbold text-blue text-base mb-7;
			}
		}

		&__question-card {
			@apply mt-4 bg-blue rounded-lg py-2 px-2.5 w-44.5 h-auto ml-auto mr-12 relative;
			height: 2.5625rem;

			&__img {
				@apply w-19.3 h-17.5 absolute top-1/2 transform -translate-y-1/2;
				right: -2.5625rem;
			}
		}
	}

	.content-instructions {
		@apply flex flex-col gap-y-4.5 mt-7;

		&__card-title {
			@apply w-full px-4.5 py-4.25 bg-blue rounded-lg border-1 border-gray;

			& h3 {
				@apply text-white text-base font-allerbold;
			}
		}

		&__content-img {
			@apply flex flex-col gap-y-7 px-12 pt-4.5 rounded bg-white relative;

			&__content-card {
				@apply relative flex items-center w-full;
			}

			&__circle {
				@apply absolute flex justify-center items-center bg-white border-4 border-green-light rounded-full;
				width: 3.625rem;
				height: 3.625rem;

				& span {
					@apply text-base text-green-light font-allerbold text-center;
				}
			}

			&__card-title {
				@apply flex items-center justify-start py-2 pl-12 rounded-lg border-1 border-gray bg-green-light w-full text-base text-white text-left;
				margin-left: 1.6875rem;
				height: 3.375rem;
			}

			&--step-final {
				@apply flex flex-col justify-center items-center w-full rounded bg-white relative gap-y-4.5;
				height: 31.25rem;
			}
		}

		&__content-step-button {
			@apply absolute bottom-0 flex self-end mx-auto gap-x-1 w-max left-1/2 transform -translate-x-1/2;
		}
	}

	&__simple-card, &__container-card {
		@apply bg-white shadow-templateDesign rounded-lg;
	}

	&__simple-card {
		@apply px-2.5 py-4.5 text-center cursor-default;

		& p {
			@apply text-sm text-center text-gray-dark;
			line-height: 100%;
		}
	}
}
