.add-price-code {
    &__title {
        @apply text-blue;

        font-size: 1rem !important;
    }

    &__table {
        &-variant, &-name, &-sku, &-value {
            @apply h-10 bg-green-extraLight border-b border-gray text-left px-2;
        }

        &-variants {
            width: 12.5rem;
        }

        &-name {
            width: 15.625rem;
        }

        &-sku {
            width: 5.6875rem;
        }

        &-value {
            width: 12.625rem;
        }

        &-container {
            width: 46.4375rem;
        }
    }

    &__input {
        &-sku {
            text-align: left !important;
            height: 2.4375rem;
            width: 10rem;
        }

        &-value {
            text-align: left !important;
            height: 2.4375rem;
        }

        &-name {
            text-align: left !important;
            width: 100%;
        }
    }

    &__unique {
        &-sku, &-value {
            @apply w-full;

            @media (min-width: 48rem) {
                width: 18.125rem;
            }
        }
    }
}
