@import "../../../../index.scss";
@import "../../../../components/electronic-documents/cards/Cards.scss";

@mixin card($width, $height) {
    width: $width;
    height: $height;
    box-sizing: border-box;

    @media (max-width: 37.5rem) {
        width: 16.5rem;
        height: auto;
    }
}

.content-group-input {
    @apply flex flex-col lg:flex-row gap-y-4.5 lg:gap-x-7;
}

.quote-generate {
    &__cards {
        @apply flex mb-6;
        gap: 1.125rem;

        @media (max-width: 1023px) {
            @apply flex-col;
        }

        &--logo-card {
            @apply flex items-center justify-center bg-white rounded shadow-md;
            @include card(15.6875rem, 6.75rem);
            padding: 0;
        }

        &--company-card {
            @apply flex flex-col justify-center bg-white rounded shadow-md;
            @include card(26.5625rem, 6.75rem);
            padding: 0.75rem 1.125rem;
        }

        &--date-card {
            @apply flex flex-col justify-center bg-white rounded shadow-md;
            @include card(15.6875rem, 6.75rem);
            padding: 0.75rem 1.125rem;

            p {
                @apply flex flex-col gap-2;
            }
        }
    }

    &__text {
        &--blue {
            @apply text-center block text-blue font-normal text-xs leading-4;
        }

        &--green {
            @apply block text-center text-green text-sm font-normal leading-4;
        }
    }
}

.quote-modal-wrapper {
    @apply flex flex-col items-center gap-4;

    &__icon {
        @apply mx-auto mb-2 block;
        width: 4.5rem;
        height: 4.5rem;
    }

    &__title {
        @apply text-blue font-allerbold text-lg text-center;
    }

    &__description {
        @apply text-gray-dark text-sm text-center;
    }
}

.quote-delete-modal-wrapper {
    @apply flex flex-col items-center gap-4;

    &__icon {
        @apply mx-auto mb-2 block;
        width: 4.5rem;
        height: 4.5rem;
    }

    &__title {
        @apply text-blue font-allerbold text-lg text-center;
    }

    &__description {
        @apply text-gray-dark text-sm text-center;
    }
}

.quote-update-modal-wrapper {
    @apply flex flex-col items-center gap-4;

    &__icon {
        @apply mx-auto mb-2 block;
        width: 4.5rem;
        height: 4.5rem;
    }

    &__title {
        @apply text-blue font-allerbold text-lg text-center;
    }

    &__description {
        @apply text-gray-dark text-sm text-center;
    }
}

.quote-warning-modal-wrapper {
    @apply flex flex-col items-center gap-4;

    &__icon {
        @apply mx-auto mb-2 block;
        width: 4.5rem;
        height: 4.5rem;
    }

    &__title {
        @apply text-blue font-allerbold text-lg text-center;
    }

    &__description {
        @apply text-gray-dark text-sm text-center;
    }
}

.quote-character-limit-modal-wrapper {
    @apply flex flex-col items-center gap-4;

    &__icon {
        @apply mx-auto mb-2 block;
        width: 4.5rem;
        height: 4.5rem;
    }

    &__title {
        @apply text-blue font-allerbold text-lg text-center;
    }

    &__description {
        @apply text-gray-dark text-sm text-center;
    }
}

.quotes-common {
    &__container {
        @apply mb-6;
    }

    &__title {
        @apply text-blue font-allerbold text-lg mb-2;
    }

    &__description {
        @apply text-gray-dark text-sm;
    }
}

.quote-button {
    @apply px-3 py-2.5 gap-2.5 rounded-lg text-base;
}

.invoice-cards {
    @apply grid grid-cols-1 md:grid-cols-3 gap-4 mb-6;
}

.bg-famiefi-light-blue {
    background-color: #FCFDFF;
}

.quote-language-select {
    @apply relative z-0;
}

.quotes-generate {
    .radio-buttons {
        @apply mb-4.5 mt-6;

        .radio-button {
            @apply flex gap-2.5 items-center;

            &__option {
                @apply bg-gray-light h-8 text-xs flex items-center text-gray-dark pl-2.5 xl:pl-16 pr-2.5 justify-between cursor-pointer;
                width: 25.625rem;
                border-radius: 0.5rem;

                @media (max-width: 22.5rem) {
                    width: 14.625rem;
                }
            }

            > input {
                @apply cursor-pointer appearance-none bg-white rounded-full w-4.5 h-4.5 border border-gray;

                &:checked {
                    @apply border-transparent bg-blue;
                }
            }
        }
    }

    .products-table__table {
        thead {
            span.leading-stiny {
                @apply text-blue #{!important};
            }
        }
    }
}
