.form-wompi {
    @apply flex flex-col gap-4.5;

    &__group-input {
        @apply flex xs:flex-col gap-4.5;

        &--border-green {
            @apply w-max mx-auto;
        }
    }

    &__style_input {
        width: 11.875rem !important;
    }

    &__button-save {
        @apply mt-2.5;

        box-shadow: 0rem 0.25rem 0.25rem 0rem #00000040;
    }

    @media screen and (min-width: 3.125rem) and (max-width: 47.938rem) {
        &__style-input {
            width: 100% !important;
        }
    }
}

@media screen and (min-width: 3.125rem) and (max-width: 47.938rem) {
    .form-wompi {
        &__style-input {
            width: 100% !important;
        }
    }
}
