$black: #00000040;
$light-purple: #81319B26;
$light-green: #00A99D26;
$gray: #F4F4F4;

.general-dashboard {
    @apply h-full flex flex-col px-2 py-2 lg:pl-0 lg:pr-4.5 lg:px-7;

    &__back-button {
        @apply bg-white text-center text-blue font-allerbold rounded-lg cursor-pointer text-sm ml-auto mt-7;

        width: 9.5625rem;
        height: 2.0625rem;
        box-shadow: rgba(0, 0, 0, 0.25);
    }

    &__lower-cards {
        @apply flex flex-col lg:flex-row gap-4.5 mt-4.5;

        @media (min-width: 56.25rem) {
            height: 13.875rem;
        }

        &--hight {
            @media (min-width: 56.25rem) {
                height: 16.5rem;
            }
        }
    }

    .indicator-cards {
        @apply flex justify-between;

        &__greeting {
            @apply text-blue text-26lg leading-7.2 mr-2 font-allerbold break-words text-center lg:text-left overflow-hidden overflow-ellipsis whitespace-normal;

            width: 15.625rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            line-clamp: 3;
        }

        .informative-card {
            @apply bg-blue py-2 px-4.5 flex items-center gap-2;

            width: 21.9375rem;
            height: 3.0625rem;
            border-radius: 1.75rem;
            box-shadow: 0 0.2219rem 0.2219rem 0 $black;

            &__text {
                @apply text-center text-white underline font-allerbold;
            }
        }

        .informative-icon--width {
            width: 2.125rem;
            height: 2.125rem;
        }

        .representative-icon {
            width: 1.9375rem;
            height: 2rem;
        }

        .representative-card {
            @apply bg-white px-4.5 py-2 flex gap-2;

            height: 3.0625rem;
            border-radius: 0.4437rem;
            box-shadow: 0 0.2219rem 0.2219rem 0 $black;

            &__indicator {
                @apply block leading-3 text-center text-xtiny;

                line-height: 0.625rem;
                max-width: 6.1875rem;
            }

            &__value {
                @apply font-allerbold text-center block;
            }
        }
    }

    .plans-card {
        @apply rounded-lg flex p-7 gap-4.5 relative w-full flex-col lg:flex-row;

        height: max-content;
        background: linear-gradient(270deg, #01A99D 0%, #0B2C4C 102.29%);

        @media (min-width: 56.25rem) {
            width: 34.125rem;
            height: 17.25rem;
        }

        &__button {
            @apply bg-green rounded text-white text-sm font-allerbold w-full;

            height: 2.0625rem;
            min-height: 2.0625rem;
            box-shadow: 0 0.2219rem 0.2219rem 0 $black;

            @media (min-width: 37.5rem) {
                width: 10.375rem;
            }

            &--long {
                width: 17.125rem;
            }
        }

        &__business-image {
            width: 13.0625rem;
        }
    }

    .traffic-cards {
        @apply flex flex-col lg:flex-row gap-4.5 bg-white items-center justify-center h-full relative w-full py-4;

        box-shadow: 0 0.2219rem 0.2219rem 0 $black;
        border-radius: 0.4437rem;

        @media (min-width: 56.25rem) {
            width: 25rem;
        }

        .icon-width--card {
            width: 2.625rem;
            height: 2.4375rem;
        }

        .traffic-card {
            @apply text-center h-full;

            width: 10.625rem;
            border-radius: 0.4437rem;
            box-shadow: 0 0.2219rem 0.2219rem 0 $black;
            padding: 1.8438rem 1.0313rem;

            &--sales {
                @apply text-blue;

                background-color: $light-green;
            }

            &--clients {
                @apply text-purple;

                background-color: $light-purple;
            }

            &--website {
                padding: 0.7813rem 0.8125rem;
            }

            &__sales {
                @apply text-center font-allerbold;

                font-size: 1.1875rem;
                line-height: 1.4381rem;
            }

            &__value {
                @apply mb-3 font-allerbold text-1.5xl truncate;
            }

            &__growth {
                @apply text-xtiny font-allerbold leading-3;
            }
        }
    }

    .website-card {
        @apply bg-white rounded-lg h-full relative w-full shadow-card;

        padding: 1.125rem 2.2188rem 1.75rem 2.2188rem;
        box-shadow: rgba(0, 0, 0, 0.25);

        @media (min-width: 56.25rem) {
            width: 34.125rem;
        }

        .icon-webiste-card {
            width: 14.0938rem;
            height: 7.9925rem;
        }

        &__title {
            @apply font-allerbold text-blue text-1.5xl mb-2;
        }

        .icon-state {
            width: 1.125rem;
            height: 1.125rem;
        }

        .icon-button-card {
            width: 1.375rem;
            height: 1.375rem;
        }

        &__button {
            @apply text-white font-allerbold bg-blue rounded-lg flex items-center gap-2 mx-auto lg:mx-0;

            font-size: 0.8125rem;
            width: 9.1875rem;
            height: 1.875rem;
            box-shadow: rgba(0, 0, 0, 0.25);
            padding: 0 0.6875rem;

            &:first-of-type {
                @apply mt-2 mb-4.5;
            }

            > img {
                @apply inline;
            }
        }
    }

    .chart-card {
        @apply bg-white rounded-lg relative w-full flex justify-center items-center flex-col shadow-card h-full;

        padding: 1.5313rem 1.75rem 1.5313rem 1.125rem;

        @media (min-width: 56.25rem) {
            width: 34.125rem;
        }

        &__select {
            width: 7.5625rem;
        }
    }

    .calendar {
        @apply bg-white shadow-card p-4 rounded-lg relative w-full;

        height: 20rem;

        @media (min-width: 56.25rem) {
            width: 25rem;
            height: 17.25rem;
        }

        @media (max-width: 37.5rem) {
            height: max-content;
        }

        &__button {
            @apply text-white bg-green text-sm font-allerbold rounded ml-auto block cursor-pointer;

            width: 8.125rem;
            height: 1.8125rem;
        }

        &__content {
            @apply mt-2 lg:mt-0;

            width: 22.5rem;
        }
    }

    .card-disabled {
        @apply absolute left-0 top-0 w-full h-full text-blue font-allerbold underline flex items-center justify-center text-center cursor-pointer;

        background-color: rgba(244, 244, 244, 0.65);
    }

    .sales-chart {
        &__tooltip {
            @apply bg-green-bgLight text-green font-allerbold rounded flex items-center justify-center px-2 truncate;

            width: 3.6875rem;
            height: 1.3125rem;
            font-size: 0.5625rem;
        }
    }

    .fc-scrollgrid {
        @apply shadow-card p-0 lg:p-1;

        background-color: $gray !important;
        border: none !important;
        border-radius: 1.125rem !important;
    }

    .fc-scroller-liquid-absolute {
        scrollbar-width: none !important;
    }

    .fc-toolbar-title {
        @apply text-blue font-allerbold text-center;

        font-size: 1rem;
    }

    .fc-header-toolbar {
        margin-bottom: 0.375rem !important;
    }

    .fc-daygrid-day-number {
        @apply text-tiny no-underline text-gray-dark;

        position: absolute !important;
        left: 0 !important;
        right: 0 !important;

        @media (max-width: 37.5rem) {
            font-size: 0.5625rem;
        }
    }

    .fc-col-header-cell-cushion {
        @apply no-underline text-blue font-allerbold text-tiny;

        @media (max-width: 37.5rem) {
            font-size: 0.5625rem;
        }
    }

    .fc-next-button, .fc-prev-button {
        @apply flex justify-center items-center;

        width: 1.25rem !important;
        height: 1.25rem !important;
        padding: 0 !important;
    }

    .fc-icon-chevron-right, .fc-icon-chevron-left {
        font-size: 0.9375rem !important;
    }

    .fc-daygrid {
        border: none !important;
        border-radius: 1.125rem !important;

        th, tr, td {
            border: none !important;
        }
    }

    .fc-daygrid-day-frame {
        @apply cursor-pointer text-center;
    }

    .fc-scrollgrid {
        @media (max-width: 37.5rem) {
            @apply p-0;

            max-width: 18.125rem !important;
        }
    }

    @media (max-width: 37.5rem) {
        .recharts-surface, .recharts-responsive-container {
            max-width: 18.75rem !important;
        }

        .recharts-wrapper {
            max-width: 25rem !important;
        }
    }
}
