.landing-modules {
	background-color: white;
	max-width: 63.75rem;
	max-height: 40.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.25rem 1.25rem;
	margin: 4rem auto;
	box-shadow: 0rem 0.25rem 1.1687rem 0rem #00AB9E52;
	border-radius: 1.75rem;

	&__container {
		@apply font-poppins;

		&--section-title {
			@apply text-2xl xs:text-center; 
			background: linear-gradient(to bottom, rgba(18, 128, 195, 1), rgba(0, 171, 158, 1));
			background: rgba(11, 44, 76, var(--tw-text-opacity));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			
			span {
				@apply font-poppinsbold;
			};

			span:first-child {
				background: linear-gradient(to bottom, rgba(18, 128, 195, 1), rgba(0, 171, 158, 1));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			span {
				@apply font-poppinssemibold;
			};
		}

		&--section-modules {
			@apply flex flex-wrap gap-y-4 justify-center;
			column-gap: 2.5rem ;
			margin-top: 4.0625rem;
			width: 75rem;

			.card {
				@apply flex flex-col items-center text-left cursor-pointer;
				width: 13.125rem;
				min-height: 14.75rem;

				img {
					height: 5.625rem;
					width: 7.8125rem;
				}
				
				p {
					@apply font-allerbold text-blue flex text-center items-center flex-col justify-center mt-3 h-15;
					font-size: 1.5625rem;
					line-height: 1.8919rem;

					@media (max-width: 48rem) {
						line-height: normal;
						font-size: 1.125rem;
					}
				}
			}
		}
	}
}

@media (max-width: 48rem) {
	.landing-modules {	
		max-height: none;

		&__container {
			&--section-modules {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: .5rem;
				
				.card {
					width: 100%;
					img {
						height: 4.625rem;
						width: 5.8125rem;
					}
					p {
						margin-top: 1.25rem;
						font-size: 1.253rem;
					}
				}
			}
		}
	}
}
