$black-light : rgba(0, 0, 0, 0.25);

.collage {

    &--one,
    &--two,
    &--four {
        @apply w-full h-full;

        &-image,
        img {
            @apply rounded-lg
        }
    }

    &--three {

        &-image,
        img {
            @apply rounded-lg
        }
    }

    &--one {
        @apply grid grid-cols-6 grid-rows-6 gap-4;
        grid-template-areas:
            "image1 image1 image2 image2 image3 image3"
            "image1 image1 image2 image2 image3 image3"
            "image1 image1 image5 image5 image3 image3"
            "image4 image4 image5 image5 image6 image6"
            "image4 image4 image5 image5 image6 image6"
            "image7 image7 image8 image8 image9 image9";

        &-image-one {
            grid-area: image1;
        }

        &-image-two {
            grid-area: image2;
        }

        &-image-three {
            grid-area: image3;
        }

        &-image-four {
            grid-area: image4;
        }

        &-image-five {
            grid-area: image5;
        }

        &-image-six {
            grid-area: image6;
        }

        &-image-seven {
            grid-area: image7;
        }

        &-image-eight {
            grid-area: image8;
        }

        &-image-nine {
            grid-area: image9;
        }
    }

    &--two {
        @apply grid grid-cols-6 grid-rows-6 gap-4;
        grid-template-areas:
            "image1 image1 image2 image2 image3 image3"
            "image1 image1 image2 image2 image3 image3"
            "image1 image1 image2 image2 image3 image3"
            "image1 image1 image4 image4 image5 image5"
            "image1 image1 image4 image4 image5 image5"
            "image1 image1 image4 image4 image5 image5";

        &-image-one {
            grid-area: image1;
        }

        &-image-two {
            grid-area: image2;
        }

        &-image-three {
            grid-area: image3;
        }

        &-image-four {
            grid-area: image4;
        }

        &-image-five {
            grid-area: image5;
        }
    }

    &--three {
        @apply grid grid-cols-6 grid-rows-6 gap-4 h-full w-full;
        grid-template-areas:
            "empty1 empty1 empty1 image1 image1 image1"
            "empty1 empty1 empty1 image1 image1 image1"
            "empty1 empty1 empty1 image1 image1 image1"
            "image2 image2 image2 empty2 empty2 empty2"
            "image2 image2 image2 empty2 empty2 empty2"
            "image2 image2 image2 empty2 empty2 empty2";

        &-empty-one,
        &-empty-two {
            @apply bg-gray rounded-lg;
        }

        &-empty-one {
            grid-area: empty1;
        }

        &-empty-two {
            grid-area: empty2;
        }



        &-image-one {
            grid-area: image1;
        }

        &-image-two {
            grid-area: image2;
        }
    }

    &--four {
        @apply grid gap-4;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-template-rows: repeat(4, minmax(0, 1fr));
        grid-template-areas:
            "image1 image1 image2 image2 image2 image2 image2 image2 image2 image2 image3 image3"
            "image4 image4 image2 image2 image2 image2 image2 image2 image2 image2 image5 image5"
            "image6 image6 image2 image2 image2 image2 image2 image2 image2 image2 image7 image7"
            "image8 image8 image2 image2 image2 image2 image2 image2 image2 image2 image9 image9";

        &-image-one {
            grid-area: image1;
        }

        &-image-two {
            grid-area: image2;
        }

        &-image-three {
            grid-area: image3;
        }

        &-image-four {
            grid-area: image4;
        }

        &-image-five {
            grid-area: image5;
        }

        &-image-six {
            grid-area: image6;
        }

        &-image-seven {
            grid-area: image7;
        }

        &-image-eight {
            grid-area: image8;
        }

        &-image-nine {
            grid-area: image9;
        }
    }

    &--five {
        @apply relative flex items-center justify-center w-200;
        height: 47rem;

        &-image-one {
            @apply absolute overflow-hidden border rounded-full h-45 w-45;
            left: 8rem;
            top: 5.5rem;
        }

        &-image-two {
            @apply absolute overflow-hidden border rounded-full w-20 h-20;
            right: 22rem;
            top: 7.5rem;
        }

        &-image-three {
            @apply absolute h-40 overflow-hidden border rounded-full w-39;
            right: 9rem;
            top: 6.5rem;
        }

        &-image-four {
            @apply overflow-hidden border rounded-full w-77 h-77;
        }

        &-image-five {
            @apply absolute w-20 h-20 overflow-hidden border rounded-full;
            left: 15rem;
            bottom: 9.5rem;
        }

        &-image-six {
            @apply absolute h-45 w-45 overflow-hidden border rounded-full;
            right: 16.563rem;
            bottom: 1.5rem;
        }

        &-image-seven {
            @apply absolute h-40 overflow-hidden border rounded-full w-39;
            right: 7rem;
            bottom: 9rem;
        }
    }

    &--five__mobile {
        width: 21.5rem;
        height: 20rem;

        .collage--five-image-one {
            top: 0.5rem;
            left: 2.5rem;
            width: 5.688rem;
            height: 5.688rem;

        }

        .collage--five-image-two {
            right: 9.5rem;
            top: 2rem;
            width: 2.5rem;
            height: 2.5rem;
        }

        .collage--five-image-three {
            right: 2.5rem;
            top: 1.5rem;
            width: 5rem;
            height: 5rem;
        }

        .collage--five-image-four {
            width: 10rem;
            height: 10rem;
        }

        .collage--five-image-five {
            left: 5rem;
            bottom: 3rem;
            width: 2.688rem;
            height: 2.688rem;
        }

        .collage--five-image-six {
            right: 6.5rem;
            bottom: -1rem;
            width: 5.688rem;
            height: 5.688rem;
        }

        .collage--five-image-seven {
            right: 1.5rem;
            bottom: 2.7rem;
            width: 5rem;
            height: 5rem;
        }
    }

    &--six {
        @apply relative flex items-center justify-center w-200;
        height: 38rem;

        &-image-one {
            @apply overflow-hidden border rounded-full w-77 h-77;
        }

        &-image-two {
            @apply absolute overflow-hidden border rounded-full h-28 w-28;
            left: 21.875rem;
            top: 1rem;

        }

        &-image-three {
            @apply absolute overflow-hidden border rounded-full h-28 w-28;
            right: 11rem;
            top: 5.5rem;
        }

        &-image-four {
            @apply absolute overflow-hidden border rounded-full h-28 w-28;
            right: 7rem;
            top: 15rem;
        }

        &-image-five {
            @apply absolute overflow-hidden border rounded-full h-28 w-28;
            right: 11rem;
            bottom: 5.5rem;
        }

        &-image-six {
            @apply absolute overflow-hidden border rounded-full h-28 w-28;
            left: 21.875rem;
            bottom: 1rem;

        }

        &-image-seven {
            @apply absolute overflow-hidden border rounded-full h-28 w-28;
            left: 11rem;
            bottom: 5.5rem;
        }

        &-image-eight {
            @apply absolute overflow-hidden border rounded-full h-28 w-28;
            left: 7rem;
            top: 15rem;
        }

        &-image-nine {
            @apply absolute overflow-hidden border rounded-full h-28 w-28;
            left: 11rem;
            top: 5.5rem;
        }
    }

    &--six__mobile {
        width: 21.5rem;
        height: 20rem;

        .collage--six-image-one {
            width: 10.75rem;
            height: 10.75rem;

        }

        .collage--six-image-two {
            left: 8.8rem;
            top: 0rem;
            width: 3.875rem;
            height: 3.875rem;
        }

        .collage--six-image-three {
            right: 3rem;
            top: 2.5rem;
            width: 3.875rem;
            height: 3.875rem;
        }

        .collage--six-image-four {
            right: 1rem;
            top: 8rem;
            width: 3.875rem;
            height: 3.875rem;
        }

        .collage--six-image-five {
            right: 3rem;
            bottom: 2.5rem;
            width: 3.875rem;
            height: 3.875rem;
        }

        .collage--six-image-six {
            left: 8.8rem;
            bottom: 0rem;
            width: 3.875rem;
            height: 3.875rem;
        }

        .collage--six-image-seven {
            left: 3rem;
            bottom: 2.5rem;
            width: 3.875rem;
            height: 3.875rem;
        }

        .collage--six-image-eight {
            left: 1rem;
            top: 8rem;
            width: 3.875rem;
            height: 3.875rem;
        }

        .collage--six-image-nine {
            left: 3rem;
            top: 2.5rem;
            width: 3.875rem;
            height: 3.875rem;
        }
    }

    &--seven {
        @apply relative grid grid-cols-3 grid-rows-2 gap-4;
        width: 55.375rem;
        height: 43.75rem;
        grid-template-areas:
            "image6 image1 image2"
            "image5 image4 image3";

        &-image-one {
            @apply overflow-hidden border absolute h-75 w-76;
            grid-area: image1;
            top: 2.75rem;
            -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
            clip-path: polygon(100% 0, 0 0, 50% 100%);
        }

        &-image-two {
            @apply absolute overflow-hidden border h-75 w-76;
            grid-area: image2;
            right: 7.5rem;
            top: 2.75rem;
            -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
            clip-path: polygon(50% 0, 0 100%, 100% 100%);
        }

        &-image-three {
            @apply absolute overflow-hidden border h-75 w-76;
            grid-area: image3;
            right: 7.5rem;
            -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
            clip-path: polygon(100% 0, 0 0, 50% 100%);
        }

        &-image-four {
            @apply overflow-hidden border h-75 w-76;
            grid-area: image4;
            -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
            clip-path: polygon(50% 0, 0 100%, 100% 100%);
        }

        &-image-five {
            @apply absolute overflow-hidden border h-75 w-76;
            grid-area: image5;
            left: 8.5rem;
            -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
            clip-path: polygon(100% 0, 0 0, 50% 100%);
        }

        &-image-six {
            @apply absolute overflow-hidden border h-75 w-76;
            grid-area: image6;
            left: 8.5rem;
            top: 2.75rem;
            -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
            clip-path: polygon(50% 0, 0 100%, 100% 100%);
        }
    }

    &--seven__mobile {
        width: 21.5rem;
        height: 16rem;

        .collage--seven-image-one {
            width: 8rem;
            height: 8rem;
        }

        .collage--seven-image-two {
            right: 1.5rem;
            width: 8rem;
            height: 8rem;
        }

        .collage--seven-image-three {
            right: 1.5rem;
            width: 8rem;
            height: 8rem;
        }

        .collage--seven-image-four {
            width: 8rem;
            height: 8rem;
        }

        .collage--seven-image-five {
            left: 3rem;
            width: 8rem;
            height: 8rem;
        }

        .collage--seven-image-six {
            left: 3rem;
            width: 8rem;
            height: 8rem;
        }
    }
}
