.radiobutton-responsive-container {
	@apply xs:flex-col;

	
}
.radiobutton-md{
	@media (max-width: 48rem) {
		&__input {
			width: 1.125rem !important;
			height: 1.125rem !important;
		}
	}
	@media (min-width: 48rem) {
		&__input {
			width: 1.125rem !important;
			height: 1.125rem !important;
		}
	}
	
}

.radiobutton {
	@apply flex items-center;

	&:last-of-type {
		margin-right: 0;
	}

	&-xl {
		margin-bottom: 1.875rem;
		width: 100%
	}

	&__input {
		@apply cursor-pointer;
		-webkit-appearance: none;
		border-radius: 100%;
		width: 1.125rem;
		height: 1.125rem;
	}

	&__label {
		@apply bg-gray-light 
		text-blue 
		flex 
		justify-center 
		items-center 
		rounded-lg 
		cursor-pointer 
		text-sm
		ml-2;
		width: 6.5rem;
		height: 2.0625rem;

		&-xs {
			width: 2.75rem;
			height: 2.0625rem;
		}
		
		&-sm {
			width: 6.5rem;
			height: 2.0625rem;
		}

		&-xl {
			width: 35.625rem;
			height: 3.4375rem;
			@media (max-width: 48rem) {
				width: 95%;
			}
		}
		&-md {
			width: 10.625rem;
			padding: 0 0.8rem;
			@media (max-width: 48rem) {
				width: 95%;
			}
		}
		&-md-row {
			width: 10.625rem;
			padding: 0 0.8rem;
			@media (max-width: 48rem) {
				width: 95%;
			}
		}
	}

	.height-xs {
		@apply xs:h-20;
	}

	
}
.flex-md-row{
	display: flex !important;
	flex-direction: row !important;
}
