$light-green: #00a99d26;
$light-gray: #d9d9d9;
$gray-purchase: #dadfe4;

@mixin hide-menu {
	@apply max-w-0 overflow-hidden opacity-0;

	transform: translateX(-100%);
}

.operations-table {
	@apply flex flex-col m-0 h-screen relative transition-all duration-700 transform opacity-100 bg-white;
	box-shadow: 0 0.25rem 0.25rem 0 rgba(11, 44, 76, 0.25);
	max-width: 17.5rem;

	@media (min-width: 37.5rem) {
		width: 16.25rem;
	}

	&__website {
		&-preview {
			@apply hidden;
		}
	}

	&--hide {
		@include hide-menu;
	}

	&--show {
		@media (max-width: 26.563rem) {
			min-width: 100vw;
		}
	}

	&__upper-section {
		@apply h-20 flex items-center px-4.5 xs:hidden;
	}

	&__title {
		@apply text-blue font-allerbold;

		font-size: 1.25rem;
	}

	&__nav {
		@apply flex-1 overflow-y-auto overflow-x-hidden;
		max-height: min-content;
		scroll-behavior: auto;
	}

	::-webkit-scrollbar {
		display: none;
	}

	.icon-width--tab {
		width: 1.875rem;
		height: 1.875rem;
	}

	.sidebar-tab {
		@apply relative;

		&__arrow {
			@apply transition-all transform cursor-pointer rotate-0;
			width: 1.375rem;
			height: 1.375rem;

			&--active {
				@apply rotate-180;
				width: 1.375rem;
				height: 1.375rem;
			}
		}

		&__plan {
			@apply flex justify-between items-center cursor-pointer;
			transition: all 0.3s ease-in-out;
			height: 3.25rem;
	
			@media (max-width: 22.5rem) {
				width: 100%;
			}
	
			&--active {
				@apply mb-3 px-2 mx-auto my-2;
				background-color: $light-green;
				border-radius: 0.5rem;
	
				.sidebar-tab__name {
					@apply text-green;
				}
			}
	
			&--large {
				height: 6rem;
			}
	
			&--large--active {
				@apply mb-3 px-2 mx-auto my-2;
				background-color: $light-green;
				border-radius: 0.5rem;
				height: 6rem;
	
				.sidebar-tab__name {
					@apply text-green;
				}
			}
		}

		&__name {
			@apply font-allerbold text-blue text-left cursor-pointer;

			transition: all 0.3s ease-in-out;
			width: 7.5rem;
			line-height: 1.135rem;
			font-size: 0.9375rem;

			&--soon {
				width: 6.2rem;
			}

			@media (max-width: 48rem) {
				@apply mr-4.5;
				width: 13.75rem;
			}
		}

		&__module {
			@apply flex items-center justify-between;

			width: 14rem;
			height: 2.25rem;
			border-radius: 0.5rem;


			@media (max-width: 48rem) {
				@apply w-full;
			}
		}

		&__paymentPlans {
			@apply py-2 px-4.5 font-aller flex items-center justify-between cursor-pointer relative  no-underline;

			width: 15.25rem;
			height: 2.375rem;
			max-width: 100%;

			font-size: 0.9375rem;
			line-height: 1.135rem;
			border-radius: 0.5rem;
			margin: 0 0.5rem;

			@media (max-width: 48rem) {
				@apply flex justify-between;
				width: 18.25rem;
				margin-left: 3.125rem;
			}

			@media (max-width: 23.438rem) {
				@apply ml-4;
			}

			&--title {
				@apply font-allerbold;

				@media (max-width: 48rem) {
					@apply flex justify-between;
					width: 18.25rem;
					margin-left: 1.625rem;
				}
			}
		}

		&__technicalSheet {
			@apply py-2 px-4.5 flex items-center justify-between rounded-lg w-59.5 h-38px max-w-full;

			line-height: 1.135rem;
			margin: 0 0.5rem;

			@media (max-width: 22.5rem) {
				width: 18.25rem;
				margin-left: 1.5rem;
			}

			&--active {
				@apply text-white bg-green;	
			}

			&--title {
				@apply font-allerbold;

				@media (max-width: 48rem) {
					@apply flex justify-between;
					width: 18.25rem;
					margin-left: 1.625rem;
				}
			}
		}

		&__purchasingProcessSheet {
			@apply py-2 px-4.5 flex items-center justify-between rounded-lg w-59.5 h-38px max-w-full;

			line-height: 1.135rem;
			margin: 0 0.5rem;

			@media (max-width: 22.5rem) {
				width: 18.25rem;
				margin-left: 1.5rem;
			}
		}

		&__technicalName {
			@apply font-allerbold;
		}

		&__bar {
			border-left: 0.094rem solid $light-gray;
		}

		&__item {
			@apply text-blue font-aller flex items-center justify-between cursor-pointer relative w-full no-underline;

			width: 12rem;
			font-size: 0.9375rem;
			line-height: 1.135rem;
			border-radius: 0.5rem;

			@media (max-width: 48rem) {
				@apply flex justify-between;
				width: 18.25rem;
				margin-left: 3.125rem;
			}

			@media (max-width: 23.438rem) {
				@apply ml-4;
			}

			&--active {
				@apply text-green;

				background-color: $light-green;
			}

			&--activePurchasingProcess {
				@apply text-blue;

				background-color: $gray-purchase
			}

			&--title {
				@apply font-allerbold;

				@media (max-width: 48rem) {
					@apply flex justify-between;
					width: 18.25rem;
					margin-left: 1.625rem;
				}
			}
		}

		&__items {
			@apply flex flex-col items-end py-0 opacity-0 max-h-0 ml-auto mr-0;

			row-gap: 0.625rem;
			transition: all 0.3s ease-in-out;

			&--active {
				@apply py-3 opacity-100 max-h-full;
				
				width: 88%;

				@media (max-width: 48rem) {
					@apply flex flex-col items-start;
					width: 93%;
				}
			}
		}
	}

	.sidebar-footer {
		@apply bg-white mt-auto mb-16;

		@media (max-width: 48rem) {
			min-width: inherit;
		}

		&__button {
			@apply bg-purple text-white flex items-center gap-2 text-sm font-normal justify-center mx-auto;

			width: 13.75rem;
			height: 2.2669rem;
			border-radius: 0.5rem;
			margin-top: 0.4288rem;
			margin-bottom: 0.4288rem;

			.icon--mail {
				width: 1.375rem;
				height: 1.125rem;
			}
		}

		&__copyright {
			@apply text-blue;
			font-size: 0.5625rem;
		}

		&__line {
			@apply bg-blue;

			height: 1.0625rem;
			width: 0.061rem;

			&--small {
				height: 0.4375rem;
				width: 0.0313rem;
			}
		}

		&__link {
			@apply text-blue cursor-pointer;

			font-size: 0.5rem;
			line-height: 0.6056rem;
		}

		&__terms {
			@apply flex flex-col;

			height: 6.125rem;
			gap: 0.3125rem;
			padding: 1.125rem 0.9375rem 1.75rem 0.9375rem;

			.icon-company {
				width: 2.7994rem;
				height: 1.1987rem;
			}

			.icon-product {
				width: 1.2469rem;
				height: 1.375rem;
			}
		}
	}

	.option-content {
		@apply fixed;
		width: 100vw !important;
		height: 100vh !important;
		background: rgb(0, 0, 0, 0.1);
		left: -0.375rem;
		top: -4rem;
	}

	.sidebar-options {
		@apply fixed top-1/2 bg-white flex justify-center w-max flex-wrap transition-all z-50 gap-2;

		transform: translateY(-50%);
		left: calc(100% + 0.625rem);
		border-radius: 1.125rem;
		padding: 1.125rem 0.5rem;
		max-width: 19rem;

		@media (max-width: 48rem) {
			@apply top-32 left-auto pr-0;
			max-width: 13.75rem;
			justify-content: flex-start;
		}

		&__item {
			@apply flex flex-col justify-start items-center w-1/2 border;
		}

		.option {
			@apply flex flex-col justify-start items-center relative z-50;
			width: 8.75rem;
			text-decoration: none;
			@media (max-width: 48rem) {
				@apply w-auto;
				flex-direction: initial;
			}

			&__name {
				@apply text-blue font-allerbold text-sm text-center px-1;

				line-height: 1.0594rem;

				@media (max-width: 48rem) {
					@apply px-2 text-left;
				}
			}
			&__img {
				width: 3.75rem;

				@media (max-width: 48rem) {
					@apply h-auto;
					width: 2.188rem;
				}
			}
		}

		.h-web-site{
			margin-bottom: 0.01rem;
		}
		.h-payu{
			margin-bottom: 0.011rem;
			@media (max-width: 48rem) {
				margin-bottom: -0.001rem;
			}
		}
		.h-red-social{
			margin-bottom: 0.014rem;
			@media (max-width: 48rem) {
				margin-bottom: -0.001rem;
			}
		}
		.h-reports{
			margin-bottom: 0.636rem;
			@media (max-width: 48rem) {
				margin-bottom: -0.002rem;
			}
		}
	}

	.sidebar-header {
		@apply pt-2 pr-2 hidden pb-7;

		background-color: #eff0f2;

		&__initial {
			@apply rounded-full mx-auto flex items-center justify-center;

			width: 4.375rem;
			height: 4.375rem;
			background-color: $light-gray;
			margin-top: 1.25rem;
			margin-bottom: 1.875rem;
			font-size: 2.25rem;
		}
	}

	@media (max-width: 37.5rem) {
		.tab {
			&__name {
				font-size: 0.9375rem;
				width: 16.25rem;
			}

			&__plan {
				height: 2.875rem;
			}

			&__item {
				width: 20.125rem;
			}
		}

		.sidebar-header {
			@apply block;
		}
	}
}

.soon {
	@apply font-allerbold  text-white p-1 rounded;
	font-size: 0.5625rem;
	width: 4.3125rem;
	height: 1.1875rem;
	background-color: #D299E4;
}
