.testimonials{
	align-items: center;
	background: linear-gradient(180deg, #0B2C4C 40.5%, rgba(0, 171, 158, 0) 96%);
	display: flex;
	flex-direction: column;
	padding: 3rem;

	> h2 {
		@apply font-poppinssemibold text-3xl text-white;
	}

	&--video-slider-container {
		align-items: baseline;
		gap: 2rem;
		display: flex;
		justify-content: space-around;
		width: 100%;
		> div {
			width: 50%;
		}
	}

	.review-slider {
		margin-top: 3.75rem;
		width: 33.375rem;

		@media (max-width: 48rem) {
			width: 21.875rem;
		}


	}
}

@media (max-width: 48rem) {
	.testimonials{
		padding: 1rem;

		> h2 {
			margin-bottom: 2rem;
		}
	
		&--video-slider-container {
			flex-wrap: wrap;
			width: 100%;
			gap: 2rem;
			> div {
				width: 100%;
			}
		}
	
		.review-slider {
			margin-top: 1rem;
			width: 100%	
		}
	}
}
