.change-password{
	@apply flex flex-col justify-center my-auto md:flex-row;
	min-height: 21.8125rem;
	
	&__form{
		@apply mx-auto mb-10 bg-transparent rounded-md md:m-0 md:bg-gray-light w-90 md:shadow-modal p-11 xs:p-3 xs:w-full xs:pt-11 xs:flex xs:flex-col xs:items-center;
	}

	.modal--recover-password {
		width: 31.75rem;
		height: 13.125rem;
	}
}