.MuiModal-backdrop {
    background: #0B2C4CCC !important;
}

.MuiModal-root {
    z-index: 1000 !important;
}

.shared-modal {
    &__content {
        @apply p-6.70 bg-white rounded-2.5xl flex flex-col justify-center items-center h-auto outline-none z-10;

        width: 26.5625rem;
        z-index: 30 !important;

        @media (max-width: 37.5rem) {
            @apply rounded-none;

            width: 100vw !important;
            height: calc(100vh - 2.75rem) !important;
        }
    }
}

.MuiBox-root {
    @media (max-width: 37.5rem) {
        top: calc(50% + 1.375rem) !important;
    }
}
