.massive-upload {
    &__container {
        @apply bg-white rounded-lg p-4.5 mb-4.5 shadow-templateDesign;

        @media (max-width: 80rem) {
            max-width: 60.25rem;
        }
    }

    &__sub-title {
        font-size: 1rem !important;
    }

    &__input-file, &__file {
        margin-top: 1.125rem !important;
        margin-bottom: 1.125rem !important;
        max-width: 18.125rem;
    }

    &__file {
        height: 2.3125rem;
    }

    &__input-file {
        height: 7.3125rem;
    }
}
