@mixin wrapper-width($width) {
    @media (min-width: 80rem) {
        max-width: $width;
    }
}

.banner {
    &--one {
        min-height: 24.5625rem;
        @include wrapper-width(71.875rem);
    }

    &--two {
        min-height: 23.875rem;
        @include wrapper-width(71.875rem);

        &-mobile {
            min-height: 8.125rem;
            max-height: 8.125rem !important;
        }
    }

    &--three {
        min-height: 34.375rem;
        @include wrapper-width(77.875rem);
    }

    &--four {
        min-height: 34.375rem;
        @include wrapper-width(79.5rem);
    }

    &__items {
        &--one {
            @apply flex gap-2 xl:gap-4.5 justify-center;

			&-mobile {
                @apply gap-4.5 flex flex-col;
            }
        }

        &--two {
            @apply flex gap-7;

            &-mobile {
                @apply gap-0.5;
            }
        }

        &--three, &--four {
            @apply grid grid-cols-4 mt-7 gap-7;

            &-mobile {
                @apply flex flex-wrap gap-1;

                margin-top: 0.375rem !important;
            }
        }
    }

    .card {
        @apply flex flex-col items-center justify-center flex-1;

		&--mobile {
			align-items: flex-start !important;
		}


        &__bg {
            &--one {
                @apply flex flex-col items-center mt-2 gap-1;

				&--mobile {
					@apply items-start;
				}
            }

            &--two, &--three, &--four {
                @apply bg-green text-white flex items-center justify-center gap-1 flex-col w-full;
                height: 4.125rem;
            }
        }

        &__figure {
            &--one {
                height: 16.875rem;
                width: 16.875rem;
            }

            &--three {
                max-height: 21.875rem;
            }

            &--two, &--three, &--four {
                @apply flex items-center flex-1;
            }

            &--two, &--four {
                max-height: 19.75rem !important;

                img {
                    height: 19.75rem !important;
                }
            }
        }

        &__product-name {
            @apply text-xl font-allerbold truncate text-center;
            max-width: 12.5rem;

			&--mobile {
				max-width: 100% !important;
			}

            &--one {
                @apply text-blue;
            }
        }

        &__product-value {
            &--one {
                @apply text-green;
            }
        }

        &--two {
            &-mobile {
                width: 11.75rem;
                min-width: 11.75rem;
            }
        }

        &--two, &--three, &--four {
            &-mobile {
                .card__bg {
                    height: 1.5194rem;
                }
            }
        }

        &--one, &--two, &--three, &--four {
            &-mobile {
                .card__product-name {
                    max-width: 5.625rem;
                }

                .card__figure {
                    &--one {
                        height: 18.625rem;
						width: 18.625rem;
                    }
                }
            }
        }
    }

    .title {
        @apply text-center;

        &--one, &--three, &--four {
            @apply text-center text-green mb-7 text-4xl;
            text-align: center !important;

            &-mobile {
                @apply mb-1;
                margin-bottom: 0 !important;
                padding: 0 !important;
                height: 1.875rem !important;
                max-height: 1.875rem !important;
            }
        }

        &--one {
            @apply mb-4.5;
        }

        &--two {
            @apply text-2xl text-center text-green font-allerbold;
            text-align: center !important;
        }

        &--one, &--two {
            &-mobile {
                text-align: left !important;
                height: max-content !important;
            }
        }
    }

    .description {
        height: max-content !important;
        margin-bottom: 0 !important;
        padding: 0 !important;
        border: none !important;

        &--three, &--four {
            @apply text-lg text-center text-gray-dark;
            text-align: center !important;
        }

        &--two {
            @apply text-xl mt-7;

            &-mobile {
                @apply mt-2;
            }
        }
    }
}
