@mixin card($width, $height) {
    @apply shadow-card bg-white flex justify-center items-center w-full;

    border-radius: 0.5rem;
    min-height: $height !important;
    height: max-content;

    @media (min-width: 56.25rem) {
        width: $width;
        min-width: $width;
    }
}

.invoice-cards {
    &__text {
        &--blue {
            @apply text-xs text-center text-blue block leading-15.74;
        }

        &--green {
            @apply block text-sm text-center text-blue;
        }
    }
}

.sales-cards {
    @apply flex gap-2 lg:gap-4.5 w-full flex-col lg:flex-row items-center m-auto xl:w-max;

    min-height: 11rem;

    @media (max-width: 37.5rem) {
        @apply flex flex-col gap-y-4.5 items-center;
    }

    &__billing-card {
        @apply flex flex-col items-center justify-center gap-y-0.5;

        p {
            @apply text-xs text-center text-blue;

            line-height: 0.9838rem;
        }
    }

    &__company-card, &__date-card {
        @include card(15.6875rem, 6.75rem);
    }

    &__code-card, &__logo-card {
        @include card(15.6875rem, 3.75rem);
    }

    &__billing-card {
        @include card(26.5625rem, 11rem);
    }
}

.purchase-cards {
    @apply flex w-max gap-4.5 lg:w-full flex-col lg:flex-row justify-center m-auto;

    &__company-card {
        @include card(33.375rem, 6.75rem);
    }

    &__numeration-card {
        @include card(12.3125rem, 6.75rem);
    }

    &__logo-card {
        border-radius: 0.5rem;
        min-height: 6.75rem;
        height: max-content;
    }
}

.document-card {
    @include card(12.75rem, 3.875rem);
}
