.card-soon {
	width: 11.3125rem;
	max-width: 100%;
	height: 13.75rem;
	overflow: hidden;
	border-radius: 1.0281rem;
	box-shadow: 0 0.2056rem 0.2056rem 0 rgba(0, 0, 0, 0.25);

	&__icon {
		width: 3.125rem;
		height: 3.125rem;
	}

	&__title {
		background: linear-gradient(180deg, #1280C3 0%, #00AB9E 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
	}

	&__button {
		@apply text-white font-poppinssemibold max-w-full rounded-lg;
		width: 8.6875rem;
		height: 1.875rem;
		padding: 0.1875rem 0.5rem;
		box-shadow: 0 0.2056rem 0.2056rem 0 rgba(0, 0, 0, 0.25);
	}
	
	&__first-gradient {
		background: linear-gradient(180deg, #1280C3 0%, #00AB9E 100%);
	}

	&__green-button {
		@apply bg-green;
	}

	&__second-gradient {
		background: linear-gradient(270deg, #1081C5 -0.46%, #475AA7 70.11%, #78398D 135.87%);
	}
}
