.contact-form {
	.text-input {
		@apply border-none bg-gray-background rounded-2.5xl;
	}

	.contact-information {
		width: 37%;
		p {
			@apply lg:text-lg xs:text-center leading-7 font-poppins;
		}
	}

	.select-custom {
		.option {
			padding: 0.625rem 0 0.625rem 0;
		}
	}

	input[type="number"] {
		-moz-appearance: textfield;
	}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.text-area-contact {
		padding: 0.8rem 0.5rem;
	}

	.border-purple-contact-form{
		@apply border-green;
		&:focus-within {
			--tw-border-opacity: 1;
			border-color: rgba(129, 49, 155, var(--tw-border-opacity)) !important;
		}
	}

	&__checkbox {
		@apply text-gray-dark;
		margin-top: 0.46875rem;
	}

	&__checkbox-label {
		@apply text-gray-dark;
		letter-spacing: 0.010rem;
	}

	.scroll-form-contact {
		&::-webkit-scrollbar {
            width: 0.18rem;
        }
	}

	.review-slider {
		margin-top: 3.75rem;
		width: 33.375rem;
		max-width: 100%;

		@media (max-width: 48rem) {
			width: 21.875rem ;
		}
	}

	.contact-info {
		display: flex;
		justify-content: space-evenly;
		margin-top: 3.75rem;

		&__section  {
			display: flex;
			column-gap: 0.6875rem;
			align-items: center;
			
		}
	}

}

.dots-class {
	@apply  list-none block text-center p-0 m-0 w-full;
	margin-top: -1.5625rem;
	@media (max-width: 48rem) {
		width: -1.25rem;
	}


    li {
        @apply relative inline-block p-0 cursor-pointer;

        height: 0.625rem;
        width: 0.625rem;
        margin: 0 0.05rem;


        button {
            @apply border-0 bg-gray rounded-full outline-none text-transparent cursor-pointer h-2 w-2;

            line-height: 0;
            font-size: 0;

            &:hover,
            &:focus {
                outline: none !important;
            }
        }
    }

	.slick-active > button {
		@apply bg-blue
	}
}

.contact__input {
	&--default {
		width: 17.8125rem;
	}

	&--prefix {
		width: 4.0625rem;
	}

	&--phone {
		width: 13.125rem;
	}

	&--affair {
		width: 37.375rem;
		max-width: 100%;
	}
}

.form__grid {
	width: 41rem;

	@media (max-width: 22.5rem) {
        width: 20rem;
    }
}

.contact__content {
	@media (max-width: 22.5rem) {
		width: 18.75rem;
	}
}

