.input {
	
	@apply xs:w-full lg:w-73 lg:mr-7;

	&-container {
		@apply flex flex-col lg:flex-row mb-5;
		&-mb {
			@apply flex flex-col lg:flex-row mb-1
		}
	}

	&__nit-input{
		@apply w-9/12 lg:w-55.5 mr-0.5
		
	}

	&__DV-input{
		@apply  w-3/12 lg:w-11.2 lg:mr-7;


		input{
			@apply p-0.5 m-0 text-center;
			
		}

	}
}

.input-wrapper {
	@apply flex flex-col lg:flex-row
}
