.modules {
	&__container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		@apply text-blue font-poppins xs:px-10;

		.header-module {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 55.3125rem;
			row-gap: 1.5625rem;

			@media (max-width: 48rem) {
				width: 100%;
				
			}

			&__title {
				@apply font-poppinssemibold text-5xl text-center xs:text-xl;
				line-height: 3.69rem;

				@media (max-width: 22.5rem) {
					line-height: normal;
				}
			}

			&__nowrapline {
				white-space: nowrap;

				@media (max-width: 22.5rem) {
					white-space: unset;
				}
			}

			&__subtitle {
				@apply font-poppinsbold text-2xl h-9 pt-1;


				background: linear-gradient(180deg, #1280C3 0%, #00AB9E 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				
				@media (max-width: 22.5rem) {
					font-size: 1.125rem;
				}
			}

			&__description {
				@apply text-lg mt-5 xs:text-base xs:text-center;
				span {
					@apply font-poppinssemibold;
				}
			}
		}

		.body-module {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			margin-bottom: 1.25rem;
			img {
				margin-top: 3.125rem;
				width: 75rem;
				height: 100%;
			}
			&__custom-button {
				width: max-content;
				height: 2.5rem;

				@apply bg-purple mt-7 font-poppins text-lg rounded px-10 xs:text-base hover:bg-green;
			}
		}
	}
}
@media (max-width: 48rem) {
	.modules {
		&__container {
			width: 100%;
			height: 100%;
			margin: 1.875rem 0rem;
			padding: 0rem 1.5rem;
	
			.header-module {
				width: 55.3125rem;
				row-gap: 1.5625rem;
				width: 100%;
	
				&__title {
					line-height: normal;
					font-size: 1.875rem;
				}
	
				&__nowrapline {
					white-space: unset;
				}
	
				&__subtitle {
					font-size: 1.375rem;
					height: 3.5rem;
					display: flex;
					align-items: center;
				}
	
				&__description {
					margin: auto;
				}
			}
	
			.body-module {
				width: 100%;
				margin-bottom: 1.875rem;
				img {
					margin-top: 3.125rem;
					width: 75rem;
					height: 100%;
				}
				&__custom-button {
					width: 100%;
					height: 2.5rem;
					margin-top: 3.5rem;
					padding: 0rem;
				}
			}
		}
	}
}
