.table-input {
	&__date-picker {
		@apply flex flex-row justify-center w-full h-full;

		&__text {
			@apply outline-none pl-2 text-left #{!important};
		}

		&--disabled {
			@apply text-gray #{!important};
		}
	}

	&__time-picker {
		@apply flex flex-col w-full;

		&__input {
			@apply flex justify-center h-full bg-transparent;

			&__span {
				@apply mr-2 text-sm right-1 lowercase;
			}

			&--disabled {
				@apply text-gray pointer-events-none;
			}

			&--available {
				@apply cursor-pointer text-gray-dark;
			}
		}

		&__timer {
			@apply z-1 transition duration-200 absolute mt-16 left-1/3 xs:left-0;
		}
	}
}
