.information-card {
	@apply flex flex-col justify-center items-center py-4.5 px-2.5 bg-white rounded-lg;
	width: 17.6875rem;
	max-width: 17.6875rem;
	box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);

	.title {
		@apply mb-2 text-center;
	}

	.text {
		@apply text-sm text-gray-dark font-normal m-0;

		&--bold {
			@apply text-sm text-gray-dark font-allerbold;
		}
	}
}
