.add-image {
    &__table {
        &-name, &-select, &-main-image {
            @apply bg-green-extraLight font-allerbold text-sm h-10 text-left p-2 border-b border-gray;
        }

        &-name {
            width: 12.5rem;
        }

		&-select{
			width: 15.4375rem;
		}

        &-main-picture {
            width: 19rem;
        }

        &-container {
            width: 48.75rem;
        }

        &-row {
            @apply border-b border-gray h-10 p-2;
        }

        &-search {
            margin: 0.125rem !important;
			text-align: left !important;
			min-width: 6.875rem !important;
        }

    }
}
