.container-modal {
	max-width: 49rem !important;

	.article-editor {
		@apply p-1 bg-gray-light border border-gray border-solid rounded-md w-full mb-4.5;
	}

	.image-editor {
		@apply mb-4.5;
		height: 7.3125rem;
	}
}
